<div class="text-center">
  <div class="login-form">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div
              class="card-header"
              style="font-size: 2rem; font-family: Calibri, sans-serif"
            >
              Register
            </div>
            <div class="card-body">
              <form
                class="form"
                #registerForm="ngForm"
                (ngSubmit)="registerUser(registerForm)"
              >
                <fieldset >
                  <label for="email_address">Username</label>
                  <div class="col-md-6">
                    <input
                      type="text"
                      id="email_address"
                      name="username"
                      required
                      autofocus
                      ngModel
                    />
                  </div>
                </fieldset>

                <fieldset>
                  <label for="password">Password</label>
                  <div class="col-md-6">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      required
                      ngModel
                    />
                  </div>
                </fieldset>

                <button type="submit" [disabled]="registerForm.invalid">
                  Sign Up
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
